	
	<!-- Formulário de busca por nome dos posts -->

<%= form_tag busca_post_path, method: :get, class: "navbar-form navbar-right" do %>
  <div class="form-group">
    <%= text_field_tag :name, @post_a_buscar, class: "form-control", placeholder:"Buscar post" %>
     <!-- Tenho que passar o nil porque não pertence a um form. Não tem um objeto. É vazio -->
     <%= button_to "Buscar",nil, class: "btn btn-default" %>
  </div>
<% end %>
 