<h1>Editando Post</h1>

<%= render partial:"form", locals:{texto_da_acao:"Atualizar"} %>

<%= link_to 'Visualizar', @post, class:"btn btn-default" %> |
<%= link_to 'Voltar', posts_path, class:"btn btn-default" %>
