<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<%= render partial:"inputBusca"  %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Body</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <%= render partial:"post", collection:@posts %>

<br>

<%= link_to 'Novo Post', new_post_path %> 

