// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_buttons{
	width: 10px;
}
.table_category{
	width: 50%;
	margin: 0 auto;
	display: table;
}
.h1_category{
	text-align: center;
}
.button_add{
	margin: 0 auto;
	display: table;
}