<h1>Editando Categoria</h1>

<%= render partial:"form", locals:{texto_da_acao:"Atualizar"} %>

<%= link_to 'Visualizar', @category, class:"btn btn-default" %> |
<%= link_to 'Voltar', categories_path, class:"btn btn-default" %>
